<%
  def nav_link_to(link, url, opts={})
    if current_resource.url == url_for(url)
      prefix = '<li class="active">'
    else
      prefix = '<li>'
    end
    prefix + link_to(link, url, opts) + '<span class="sr-only">(current)</span></li>'
  end
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <title><%= current_page.data.title || "Pandya Family Foundation" %></title>
    <%= stylesheet_link_tag "css/bootstrap.css" %>
  </head>
  <body>
    <div class="container">
      <div class="row" style="padding: 20px">
        <img src="img/logo-notext.jpg"/>
      </div>
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#our-work-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Pandya Family Foundation</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="our-work-collapse">
              <ul class="nav navbar-nav">
                <%= nav_link_to "Home", "/" %>
                <%= nav_link_to "About", "about.html" %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Our Work<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <%= nav_link_to "Breast Cancer Awareness, Patan, Gujarat May 2008", "" %>
                    <%= nav_link_to "Breast Cancer Awareness, Patan, Gujarat Oct 2008", "" %>
                    <%= nav_link_to "Cameroon, 2008", "" %>
                    <%= nav_link_to "Health Screeings, Rural Gujarat 2009", "" %>
                    <%= nav_link_to "Rotary, 2009-2010", "" %>
                    <%= nav_link_to "Shamlaji, Gujarat, 2011", "" %>
                    <%= nav_link_to "Disaster Preparedness, 2012", "" %>
                    <%= nav_link_to "Walk with a Doc, 2013", "" %>
                  </ul>
                </li>
                <%= nav_link_to "Partners", "partners.html" %>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>

        <div class="col-md-4 well well-sm">
          <h4>How you can help</h4>
          <p>We are supported by the generosity of people like you. PFF is a 
          <a href="https://en.wikipedia.org/wiki/501(c)_organization#501.28c.29.283.29">
           501(c)(3) corporation</a> with the Federal Tax ID#20-5484071.</p>

          <p>Please make a tax-deductible contribution to help us continue our work.</p>

          <p align="center">
            <button type="button" class="btn btn-primary">Facebook Page</button>
            <button type="button" class="btn btn-warning">Donate with PayPal</button>
          </p>

          &nbsp;
          <h4>Members of the Board</h4>
          <ul class="list-group">
            <li class="list-group-item">Gaurang Pandya, M.D.</li>
            <li class="list-group-item">Betty Bluekle, CPA</li>
            <li class="list-group-item">Anna Green, Executive Director, Central California Family Crisis Center</li>
            <li class="list-group-item">Mickie Manning, Former Executive Director, Central California Family Crisis Center</li>
          </ul>

          &nbsp;
          <h4>Contact</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              Pandya Family Foundation<br/>
              555 W. Putnam Ave<br/>
              Porterville, CA 93257<br/>

              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              (559) 782-8533<br/>

              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <a href="mailto:elapandya@gmail.com">elapandya@gmail.com</a> 
            </div>
          </div>
        </div>

      </div>
    </div>

    <%= javascript_include_tag  "http://code.jquery.com/jquery-latest.js" %>
    <%= javascript_include_tag  "js/bootstrap.min.js" %>
    <script src="http://imsky.github.com/holder/holder.js"></script>
  </body>
</html>
